.tareas-lista-contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}

.tareas-pendientes{
  width: 100%;
  color: #3d423c;
  margin-top: 10px;
  padding: 10px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  font-family: roboto, sans-serif;
  background-color: #eff2e9;
  border-radius: 7px;
  border: 1px solid white;

  

}

.contenedor-tareas-pendientes{
  width: 100%;
  display: flex;
}

